.header {
    .container {
        padding: 0;
    }
    .header-top {
        font-size: 1.4rem;
        height: 4rem;
        line-height: 4rem;
        background-color: #fafafa;
        &__content {
            display: flex;
            justify-content: space-between;
        }
        .top-bar {
            &__social {
                .top-bar__link {
                    color: $delTag-color;
                }
            }
            &__list {
                list-style: none;
            }
            &__item {
                display: inline-block;
                padding: 0 1rem;
                position: relative;
            }
            &__link {
                text-decoration: none;
                color: $text-color;
                font-weight: 300;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .header-main {
        .container {
            padding: 0
        }
        height: 155px;
        background-color: $white-color;
        &__content {
            // background-color: rgb(131, 112, 87);
            display: flex;
            height: 110px;
            align-items: center;
            &__logo {
                a {
                    display: block;
                    height: 100%;
                }
                flex: 1;
                position: relative;
                padding: 0;
                float: left;
                img {
                    height: 5rem;
                    transition: ease .1s;
                }
                &:hover img {
                    opacity: .7;
                }
                .brand-text {
                    display: block;
                    width: 100%;
                    font-size: 1.2rem;
                    font-weight: 300;
                    letter-spacing: 1.5px;
                    color: $delTag-color;
                    flex-wrap: nowrap;
                }
            }
            &__search-box {
                flex: 3;
                margin: 15px 20px 0 20px;
                .input-group {
                    height: 100%;
                    width: 100%;
                    position: relative;
                    input {
                        height: 3.5rem;
                        border: 2px solid $primary-color;
                        border-radius: 5px;
                        color: $secondary-color;
                        &::placeholder {
                            font-style: italic;
                        }
                    }
                    .btn-search {
                        height: 3.5rem;
                        border-radius: 0 5px 5px 0;
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding: 0 1.5rem;
                    }
                }
                &__widget {
                    padding-top: 3px;
                    &__list {}
                    &__item {
                        display: inline-block;
                        padding: 0 7px;
                        a {
                            text-decoration: none;
                            font-weight: 300;
                            font-size: 1.2rem;
                            color: #666;
                            text-transform: lowercase;
                            &:hover {
                                text-decoration: underline;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
            &__right-box {
                flex: 2;
                // display: block;
                &__list {
                    height: 100%;
                    padding-bottom: 10px;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                }
                .cart-popup:hover .item__dropdown {
                    display: block;
                }
                &__item {
                    // cursor: pointer;
                    display: inline-block;
                    position: relative;
                    .item__dropdown {
                        transform-origin: calc(100% - 20px) top;
                        animation: zoom ease-in .3s;
                        background-color: $white-color;
                        position: absolute;
                        top: 150%;
                        right: 0;
                        width: 350px;
                        box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.3);
                        border-top: 3px solid $secondary-color;
                        z-index: 1;
                        display: none;
                        &::before {
                            content: "";
                            position: absolute;
                            top: -30px;
                            right: 30px;
                            border: 15px solid;
                            border-color: transparent transparent $secondary-color transparent;
                        }
                        &::after {
                            content: "";
                            display: block;
                            position: absolute;
                            top: -20px;
                            width: 100%;
                            height: 20px;
                        }
                    }
                    .dropdown__item {
                        border-bottom: 1px solid #ccc;
                        .item-box {
                            display: flex;
                            height: 80px;
                            padding: 0;
                            font-size: 1.3rem;
                            position: relative;
                            .item-box__image {
                                vertical-align: middle;
                                img {
                                    height: 80px;
                                }
                            }
                            .item-box__content {
                                height: 100%;
                                width: 100%;
                                padding: 15px;
                                a {
                                    text-decoration: none;
                                    color: $text-color;
                                    display: block;
                                    font-size: 1.4rem;
                                    font-weight: 500;
                                }
                                .quantity {
                                    color: $delTag-color;
                                }
                                .btn-delete {
                                    display: block;
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    align-items: center;
                                    position: absolute;
                                    font-size: 2.2rem;
                                    top: 0;
                                    right: 10px;
                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                            }
                            // &:hover {
                            //     background-color: rgba($secondary-color, .1);
                            // }
                        }
                    }
                    .dropdown__footer {
                        .item-box__footer {
                            height: 50px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            .total {
                                vertical-align: middle;
                                font-weight: 300;
                                font-size: 1.4rem;
                                text-transform: uppercase;
                            }
                            .total-money {
                                font-weight: 700;
                                font-size: 1.8rem;
                            }
                        }
                        .btn-inCart {
                            padding: 30px 0;
                            border-top: 1px solid #ccc;
                            .btn {
                                font-size: 1.5rem;
                                width: 45%;
                                padding: 7px;
                            }
                        }
                    }
                }
                &__link {
                    text-decoration: none;
                    color: $text-color;
                    height: 100%;
                    display: flex;
                    align-items: flex-end;
                    &:hover {
                        color: $primary-color;
                    }
                    .--badge {
                        content: "";
                        display: block;
                        background-color: $primary-color;
                        width: 3rem;
                        height: 1.5rem;
                        padding-top: 2px;
                        border-radius: 1.2rem;
                        text-align: center;
                        color: $white-color;
                        font-weight: 400;
                        font-size: 1.1rem;
                        line-height: 1.1rem;
                        position: absolute;
                        top: -6px;
                        left: 1.5rem;
                    }
                    .icon {
                        font-size: 2.5rem;
                        font-weight: 100;
                        display: block;
                        height: 100%;
                        width: auto;
                        float: left;
                    }
                    .text-desc {
                        float: left;
                        font-size: 1.2rem;
                        padding-left: 1rem;
                    }
                }
            }
        }
        &__nav-block {
            height: 45px;
            padding: 0;
            width: 100%;
            background-color: rgba($color: $secondary-color, $alpha: 0.8); // border-radius: 20px 20px 0 0;
            &__nav {
                margin: 0;
                padding: 0 15px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .nav-left {
                    width: 30%;
                    .nav-left__list {
                        display: flex;
                        justify-content: space-between;
                    }
                    .nav-left__item {
                        a {
                            line-height: 45px;
                            color: $white-color;
                            text-decoration: none;
                        }
                    }
                }
                .nav-right {
                    a {
                        padding: 5px 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}